/* Consider using grid to layout your projects section! */


body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 25px;
    
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
/*   You don't need to set 'right' if you've set 'left'.   */
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

/* since each section tag has a single child element inside it, flexbox isn't too necessary here.*/
section {
    height: auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-padding: auto;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
/*  Consider giving this a margin-top to create some space between the prof pic and nav bar */
#hero .profile-img {
    width: 300px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
}

#hero h1 {
    font-size: 3em;
    padding-top: auto;
}

section h2 {
    font-size: 2.5em;
    text-align: center;
    padding: auto;
}

section h3 {
    font-size: 1.5em;
    
}

header a {
    text-decoration: none;
    color: black;
}




#hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://images.unsplash.com/photo-1600384940502-416c85af4d81?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzE1fHxjb2xvcmZ1bCUyMHdhbGxwYXBlcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1957&q=80');
    text-align: left;
    padding: auto;
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://images.unsplash.com/photo-1606978302477-86dbf8a8bdef?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTIzfHxjb2xvcmZ1bCUyMHdhbGxwYXBlcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
    padding: auto;
}

.projectpic {
    width: 20em;
    height: 20em;
    padding: auto;

}

a:hover {
    background-color: blueviolet;
    font-weight: bold;
    color: white;
}
